@page "/locations/details"
@using Microsoft.EntityFrameworkCore
@using TravelItineraryWebsite.Domain
@inject IDbContextFactory<TravelItineraryWebsite.Data.TravelItineraryWebsiteContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Location</h2>
    <hr />
    @if (location is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">LocationName</dt>
            <dd class="col-sm-10">@location.LocationName</dd>
            <dt class="col-sm-2">City</dt>
            <dd class="col-sm-10">@location.City</dd>
            <dt class="col-sm-2">Country</dt>
            <dd class="col-sm-10">@location.Country</dd>
            <dt class="col-sm-2">Coordinates</dt>
            <dd class="col-sm-10">@location.Coordinates</dd>
            <dt class="col-sm-2">ItineraryDetailId</dt>
            <dd class="col-sm-10">@location.ItineraryDetailId</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@location.DateCreated</dd>
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@location.DateUpdated</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@location.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@location.UpdatedBy</dd>
        </dl>
        <div>
            <a href="@($"/locations/edit?locationid={location.LocationId}")">Edit</a> |
            <a href="@($"/locations")">Back to List</a>
        </div>
    }
</div>

@code {
    private Location? location;

    [SupplyParameterFromQuery]
    private int LocationId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        location = await context.Location.FirstOrDefaultAsync(m => m.LocationId == LocationId);

        if (location is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
