@page "/accomodations/details"
@using Microsoft.EntityFrameworkCore
@using TravelItineraryWebsite.Domain
@inject IDbContextFactory<TravelItineraryWebsite.Data.TravelItineraryWebsiteContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Accomodation</h2>
    <hr />
    @if (accomodation is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">AccomodationName</dt>
            <dd class="col-sm-10">@accomodation.AccomodationName</dd>
            <dt class="col-sm-2">AccomodationAddress</dt>
            <dd class="col-sm-10">@accomodation.AccomodationAddress</dd>
            <dt class="col-sm-2">AccomodationCost</dt>
            <dd class="col-sm-10">@accomodation.AccomodationCost</dd>
            <dt class="col-sm-2">ItineraryDetailId</dt>
            <dd class="col-sm-10">@accomodation.ItineraryDetailId</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@accomodation.DateCreated</dd>
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@accomodation.DateUpdated</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@accomodation.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@accomodation.UpdatedBy</dd>
        </dl>
        <div>
            <a href="@($"/accomodations/edit?accomodationid={accomodation.AccomodationId}")">Edit</a> |
            <a href="@($"/accomodations")">Back to List</a>
        </div>
    }
</div>

@code {
    private Accomodation? accomodation;

    [SupplyParameterFromQuery]
    private int AccomodationId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        accomodation = await context.Accomodation.FirstOrDefaultAsync(m => m.AccomodationId == AccomodationId);

        if (accomodation is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
